/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
img{
    width: 100%;
}
.fas{
    color: #FEBC00;
}
.flag{
    width: 40px;
}
/*HEADER*/
.header-container{
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container img{
    width: 100%;
}
.search-bar-container *{
    margin-left: 15px;
}
.search-bar-container input{
    width: 200px;
}
.search-bar-container label{
    color: red;
}

/*MAIN*/
main{
    height: 100vh;
    background-color: #434343;
    padding: 50px 30px;
}
/*Movie Card*/
.movie-cards-container{
    display: flex;
}
.movie-card{
    margin-left: 50px;
    width: calc(100% / 6);
    border: 1px solid white;
}