/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
/*DEBUG*/
img{
    width: 40px;
}
.movie-card{
    border: 1px solid;
    margin: 40px 0;
}
.tv-show-card{
    border: 1px solid red;
    margin: 40px 0;
}