<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolfix</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <!--ROOT-->
    <div id="root">

        <!--HEADER-->
        <header>
            <div class="header-container">
                <div class="logo-container">
                    <img src="img/logo.png" alt="logo">
                </div>
                <div class="search-bar-container">
                    <label for="searchbar">SEARCH IN OUR LIBRARY</label>
                    <input v-model="inputValue" type="text" id="searchbar" placeholder="insert a Movie or TvShow title!">
                    <button @click="search">Search</button>
                </div>
            </div>
        </header>
        <!--END HEADER-->

        <!--MAIN-->
        <main>
            <!--Movie Card-->
            <div class="movie-cards-container">
                <div
                    @mouseenter="hover = true"
                    @mouseleave="hover = false"
                    v-for="element in searchedMovie"
                    class="movie-card">
                    <img
                     v-if="hover == false"   
                     :src="`https://image.tmdb.org/t/p/w342${element.backdrop}`" :alt="element.title">
                </div>
            </div>
        </main>
        <!--END MAIN-->

    </div>
    <!--END ROOT-->

    <script src="js/script.js"></script>
</body>
</html>
