<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolfix</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <!--ROOT-->
    <div id="root">

        <!--Searchbar TEST-->
        <div>
            <input
            v-model="inputValue" 
            type="text">
            <button
            @click="search">Search Movie</button>
        </div>
        <!--End Searchbar-->

        <!---Movie Card TEST-->
        <div
        class="movie-card"
         v-for="element in searchedMovie"> 
            <img
             v-if="element.backdrop != null"
             :src="`https://image.tmdb.org/t/p/w342${element.backdrop}`" :alt="element.title">           
            <p>Title: {{element.title}}</p>
            <p>Original Title: {{element.originalTitle}}</p>
            <!--Flags(languages)-->
            <img
             v-if="element.language == 'it'"
             src="img/italy.png" alt="italy">
            <img
             v-else-if="element.language == 'en' "
             src="img/united-states.png" alt="united-states">
            <img
             v-else-if="element.language =='fr'"
             src="img/france.png" alt="france">
            <img
             v-else-if="element.language =='es'"
             src="img/spain.png" alt="spain">
            <img
             v-else-if="element.language =='de'"
             src="img/germany.png" alt="germany">
             <img
             v-else-if="element.language =='zh'"
             src="img/china.png" alt="china"> 
             <img
             v-else-if="element.language =='ja'"
             src="img/japan.png" alt="japan">
             <img
             v-else-if="element.language =='ko'"
             src="img/south-korea.png" alt="south-korea">
            <p           
             v-else
            >Language: {{element.language}}</p>
            <!--End Flags(languages)-->
            <p>Vote: {{numberTransform(element.vote)}}</p>            
        </div>
        <!--End Movie card-->

        <!---TvShow Card TEST-->
        <div
        class="tv-show-card"
         v-for="element in searchedTvShow">
            <img 
            v-if="element.backdrop != null"
            :src="`https://image.tmdb.org/t/p/w342${element.backdrop}`" :alt="element.title">
            <p>Title: {{element.title}}</p>
            <p>Original Title: {{element.originalTitle}}</p>
            <!--Flags(languages)-->
            <img
             v-if="element.language == 'it'"
             src="img/italy.png" alt="italy">
            <img
             v-else-if="element.language == 'en' "
             src="img/united-states.png" alt="united-states">
            <img
             v-else-if="element.language =='fr'"
             src="img/france.png" alt="france">
            <img
             v-else-if="element.language =='es'"
             src="img/spain.png" alt="spain">
            <img
             v-else-if="element.language =='de'"
             src="img/germany.png" alt="germany">
             <img
             v-else-if="element.language =='zh'"
             src="img/china.png" alt="china"> 
             <img
             v-else-if="element.language =='ja'"
             src="img/japan.png" alt="japan">
             <img
             v-else-if="element.language =='ko'"
             src="img/south-korea.png" alt="south-korea">
            <p           
             v-else
            >Language: {{element.language}}</p>
            <!--End Flags(languages)-->
            <p>Vote: {{numberTransform(element.vote)}}</p>            
        </div>
        <!--End TvShow card-->

    </div>
    <!--END ROOT-->

    <script src="js/script.js"></script>
</body>
</html>
